APP_NAME=Customer Service
APP_ENV=development
APP_PORT=8007

DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/pharmar_customer

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256

INTERNAL_API_KEY=change-this-internal-key
STORE_SERVICE_URL=http://store-service:8005

ENABLE_POINTS_EXPIRY_JOB=true
POINTS_EXPIRY_JOB_INTERVAL_HOURS=24

