APP_NAME=Catalog Service
APP_ENV=development
APP_PORT=8006

DATABASE_URL=postgresql+asyncpg://postgres:postgres@catalog-db:5432/pharmar_catalog

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256

INVENTORY_SERVICE_URL=http://inventory-service:8002
SALE_SERVICE_URL=http://sale-service:8003
