APP_NAME=API Gateway
APP_PORT=8000

AUTH_SERVICE_URL=http://users-service:8001
SALE_SERVICE_URL=http://sale-service:8003
INVENTORY_SERVICE_URL=http://inventory-service:8002
REPORT_SERVICE_URL=http://report-service:8004
