APP_NAME=Users Service
APP_ENV=development
APP_PORT=8001

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/pharmar_auth

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

DEFAULT_OWNER_USERNAME=admin
DEFAULT_OWNER_PASSWORD=admin
DEFAULT_OWNER_FULL_NAME=System Owner
